*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	text-align: center;
	width: 100%;
	height:auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}
.head1{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	margin-bottom: 30px;
	color: #fafcfe;
}
h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	margin-top: 8vh;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
	justify-self: center;
	width: 10vw;
	font-size: 20px;
}
button:hover{
	cursor: pointer;
}
.inputsentence{
    width: 60vw;
    height: 4vw;
    overflow:scroll;
    justify-self: center;
}
.inputform{
    justify-self: center;
    font-family: 'Dancing Script', cursive;
}
.inputform::after{
	border-color: rgb(202, 157, 244);
}
.label1{
	justify-self: center;
}
.output{
	font-size: 20px;
	justify-self: center;
}